<div style="text-align: center">
  <h3>Sign in</h3>
</div>
<div class="container">
  <form>

    <div class="form-group">
      <input type="login" placeholder="Login"
             class="form-control" [(ngModel)]="login" name="login" id="login" #fieldLogin="ngModel" required minlength="6"/>
      <br *ngIf="fieldLogin.valid || fieldLogin.untouched">
      <p *ngIf="fieldLogin.invalid && fieldLogin.touched"><small>Minimum length 6 characters</small></p>
      <input type="password" placeholder="Password"
             class="form-control" ngModel name="password" #fieldPassword="ngModel" required minlength="6"/>
      <br *ngIf="fieldPassword.valid || fieldPassword.untouched">
      <p *ngIf="fieldPassword.invalid && fieldPassword.touched"><small>Minimum length 6 characters</small></p>

    </div>

  </form>
</div>
<div style="text-align:center">
  <button [disabled]="fieldLogin.invalid || fieldPassword.invalid" (click)="Login()" type="button" class="btn btn-success">Sign in</button>
</div>
