input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button{
  width: 100px;
}
