<div style="text-align:center">
  <h3>Registration</h3>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <input type="text" placeholder="E-mail"
             class="form-control" [(ngModel)]="userEmail" name="userEmail" id="userEmail" #fieldEmail="ngModel" required email>
      <br *ngIf="!fieldEmail.errors?.email">
      <p *ngIf="fieldEmail.errors?.email"><small>Please enter a valid email address</small></p>

      <input type="login" placeholder="Login"
             class="form-control" [(ngModel)]="login" name="login" id="login" #fieldLogin="ngModel" required minlength="6"/>
      <br *ngIf="!fieldLogin.errors?.minlength">
      <p *ngIf="fieldLogin.errors?.minlength"><small>Minimum length 6 characters</small></p>

      <input type="name" placeholder="Name"
             class="form-control" [(ngModel)]="name" name="name"><br>

      <input type="password" placeholder="Password"
             class="form-control" ngModel name="password" id="password" #fieldPassword="ngModel" required minlength="6"/>
      <br *ngIf="!fieldPassword.errors?.minlength">
      <p *ngIf="fieldPassword.errors?.minlength"><small>Minimum length 6 characters</small></p>

      <input type="password" placeholder="Confirm password"
             class="form-control" ngModel name="certainPassword" id="certainPassword" #certainPassword="ngModel" [equalTo]="fieldPassword"/>
      <br *ngIf="!certainPassword.errors?.equalTo">
      <p *ngIf="certainPassword.errors?.equalTo"><small>Passwords do not match</small></p>

    </div>
  </form>
</div>


<div style="text-align:center">
  <button type="submit" class="btn btn-success" routerLink="/main" (click)="register(login, fieldPassword)">Register</button> <mark></mark>
  <button class="btn btn-danger" routerLink="/">Cancel</button>
</div>
